$font-primary: 'Barlow Condensed', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$white:#ffffff;
$black:#000000;
$dark:#1D1C21;
$gray:#B0B0B0;
$color-primary:#E4112F;

$black-100:#111111;
$black-200:#222222;
$black-300:#333333;
$black-400:#444444;
$black-500:#555555;
$black-600:#666666;
$black-700:#777777;
$black-800:#888888;
$black-900:#999999;